body {
  margin-left: 100px;
  margin-right: 100px;
}
header {
  height: 100px;
  background-color: gray;
}
.navbar_items {
  float: right;
  margin-right: 60px;
  margin-bottom: 50px;
}
.navbar_items ul {
  display: flex;
}
.banner {
  display: block;
  height: 400px;
  width: 100%;

  background-size: cover;
  background-color: greenyellow;

  background-position: center;
}
.about_me {
  display: flex;
}

aside {
  float: left;
  margin: 100px;
}
p {
  margin: 100px;
  width: 100%;
}
.work1 {
  /* display: flex;
  flex-wrap: wrap; */
  /* flex-grow: 1; */
  background-color: indigo;
}
.work {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px; */
  flex-grow: 1;
  background-color: pink;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* align-self: center; */
  justify-content: center;
  /* flex-basis: 100%; */
}
.work_div {
  width: 33.5vw;
  height: 20vw;
  display: flex;
  background-image: url("./././port.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  /* justify-content: space-between;
  justify-content: space-evenly;
  justify-content: space-around; */
  /* flex: 1 0 33%; */
  /* border-color: white;
  border-style: dashed; */
  /* border-radius: 50% 20% / 10% 40%; */

  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.work_div:first-child {
  display: block;
  margin-top: 4vw;
  width: 100%;
  height: 30vw;
}
