* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
:root {
  --border-right: 5px solid white;
  --margin-left-border: 100px;
  --float-right: right;
  --float-left: left;
  --display-flex: flex;
  --hundred_percent: 100%;
  --hundred_pixel: 100px;
  --position-relative: relative;
  --position-absolute: absolute;
  --center-position: center;
  --background-gradient: linear-gradient(
    to right,
    #485563,
    #29323c
  ); /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  background: var(--background-gradient);
}
main {
  opacity: 0.8;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* global */
.work,
.work_di,
.navbar_items,
.contact,
ul,
li,
.about_me,
.resume {
  display: var(--display-flex);
  /* text-align: center; */
}
.about_me p {
  margin-top: 8%;
  margin-right: 10%;
}
.work_div,
.icon {
  position: var(--position-relative);
}
.banner-text,
#caption {
  position: var(--position-absolute);
}
ul,
li {
  text-align: var(--center-position);
  margin-left: 10px;
  color: white;
}
.work,
.banner #caption {
  justify-content: var(--center-position);
  text-align: var(--center-position);
  background-position: var(--center-position);
}
/* end */

header {
  height: var(--hundred_pixel);
  width: var(--hundred_percent);
  background: var(--background-gradient);
  opacity: 1;
}
header .title_sid {
  /* padding-left: var(--hundred_pixel); */
  margin-top: 1%;
  float: left;
  /* width: 30%; */
  padding-left: 5%;

  background-size: 10%;
  font-size: 2vw;

  background-image: yellow;
}

.navbar_items {
  float: var(--float-right);
  margin-right: 5%;
  margin-top: 2%;
  font-size: 1.5vw;
  color: white;
}

.banner {
  height: 400px;
  width: var(--hundred_percent);
  background-image: url("../img/mountain.jpg");
}
/* #banner_img {
  background-image: url("../img/mountain.jpg");
} */

.banner-text {
  display: inline-flex;
  margin-left: 20%;
  margin-top: 10%;

  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  float: var(--float-right);
  color: white;
  /* z-index: 1; */
  background-color: blue;
}
.icon {
  float: var(--float-left);
  margin-left: 4vw;
  border-radius: 50%;
}

aside {
  float: var(--float-left);
  margin: var(--hundred_pixel);
}
p {
  /* margin: var(--hundred_pixel); */
  width: var(--hundred_percent);
}
h2 {
  font-size: 60px;
}

.work {
  flex-wrap: wrap;

  /* justify-content: center; */
}

.work_div {
  width: 26vw;
  height: 20vh;

  /* background-image: url("../img/port.jpg"); */
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  /* flex-wrap: wrap; */
  border: 10px solid white;

  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.work_div:first-child {
  display: block;
  background-image: url("../img/01-html-css-git-homework-demo.png");

  margin-top: 4vw;
  width: 80%;
  height: 30vw;
}

.border,
.border_1,
.border_2 {
  border-right: var(--border-right);
  margin-left: var(--margin-left-border);
  height: 500px;
}
.border_2 {
  height: 200px;
}
.border_1 {
  height: var(--hundred_pixel);
}
.cont {
  float: left;
  width: 50%;
}
#caption {
  width: 12vw;
  height: 50px;
  bottom: 0px;

  color: #ffffff;

  font-weight: bold;
  opacity: 1;

  margin-left: 0%;
  margin-bottom: 5%;
  background-image: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);
}

.contact {
  width: var(--hundred_percent);
}
.contact p {
  margin: var(--hundred_pixel);
}

/* pesduo classes */
.work_div:hover {
  opacity: 1;
}

.navbar_items a:hover,
.title_sid:hover {
  color: aqua;
}
.resume {
  /* width: var(--hundred_percent); */
  /* display: flex;
  flex-wrap: wrap; */
  width: 100%;
}
.resume_container {
  /* display: flex;
  flex-wrap: wrap; */
  margin: auto;
  width: 60%;
  height: 200px;
  border: 5px solid white;
  padding: 10px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #aa076b 0%,
    #61045f 51%,
    #aa076b 100%
  );
}
.button_div {
  display: flex;
  justify-content: center;

  margin: 2%;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
}

.btn-grad {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.resume_container p {
  text-align: center;
  padding: auto;
}
.banner img:hover {
  transform: rotate(50deg);
}
@media (max-width: 770px) {
  .banner-text {
    background-color: chocolate;
    font-size: 3vw;
    margin-right: 6%;
  }
  .work_div {
    width: 100%;
  }
  #caption {
    display: block;
    width: 100%;
  }
  main {
    margin: 0;
    width: 100%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  .contact p {
    text-align: center;
  }
  .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  .border_1 {
    display: flex;
    flex-direction: column;
    border-right: 0;
    height: 50px;
    border-bottom: 5px solid white;
    width: 50%;
  }

  .about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* transition: ease all 0.5s; */
  }
  .about_me p {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 80%;
    margin-top: -5%;
    /* transition: ease all 0.5s; */
  }
  .border_2 {
    display: flex;
    flex-direction: column;
    border-right: 0;
    height: 50px;
    border-bottom: 5px solid white;
    width: 50%;
    padding-bottom: 10%;
  }
  .border {
    display: flex;
    flex-direction: column;
    border-right: 0;
    height: 50px;
    border-bottom: 5px solid white;
    width: 50%;
    padding-bottom: 10%;
  }

  .work1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact h2 {
    font-size: 40px;
    /* margin-left: 50px; */
  }
}
