body {
  margin-left: 100px;
  margin-right: 100px;
}
main {
  background-color: lavenderblush;
}

header {
  height: 100px;
  width: 100%;
  background-color: gray;
}
.title_sid {
  margin-left: 100px;
  padding-top: 50px;
}

.navbar_items {
  /* display: inline-block; */
  float: right;
  /* width: 100px; */
  /* flex-basis: 100%; */
  margin-right: 3vw;
  margin-bottom: 50px;
  width: fit-content;
}
.navbar_items ul {
  display: flex;
}
.banner {
  display: block;
  height: 400px;
  width: 100%;

  background-size: cover;
  background-color: greenyellow;

  background-position: center;
}
.banner-text {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: white;
  position: relative;
  top: 50%;
  font-size: 80px;
  float: right;
  /* transform: translateY(-50%); */
  background-color: blue;
}
.icon {
  /* display: inline-block;*/
  position: relative;
  /* width: 200px;
  height: 200px; */
  /* margin-left: -100px; */

  /* overflow: hidden; */
  float: left;
  margin-left: 4vw;
  border-radius: 50%;
}
.about_me {
  display: flex;
}

aside {
  float: left;
  margin: 100px;
}
p {
  margin: 100px;
  width: 100%;
}
h2 {
  font-size: 60px;
}
.work1 {
  /* background-color: indigo; */
}
.work {
  display: flex;
  flex-wrap: wrap;

  /* flex-grow: 1; */
  /* background-color: pink; */

  justify-content: center;
}

.work_div {
  width: 26vw;
  height: 20vw;
  display: flex;
  background-image: url("../img/port.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  border: 10px solid lawngreen;

  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.work_div:first-child {
  display: block;
  margin-top: 4vw;
  width: 80%;
  height: 30vw;
}
.border {
  border-right: 5px solid red;
  margin-left: 100px;
  height: 500px;
}

#caption {
  /* align-self: center;
  align-content: center; */
  /* width: 100px;*/

  position: absolute;
  width: 283px;
  height: 50px;
  bottom: 0px;

  color: #ffffff;
  background: green;
  text-align: center;
  font-weight: bold;
  opacity: 1;

  margin-left: 0%;
  margin-bottom: 5%;
}

.contact {
  display: flex;
  width: 100%;
}

.contact_content {
  text-align: unset;
  width: 100%;
  display: flex;
  align-content: space-between;
  text-align: center;
}
ul {
  display: flex;
  align-content: space-between;
  text-align: center;
}
li {
  /* width: 100%; */
  display: flex;
  align-content: space-between;
  text-align: center;
  margin: 10px;
}

/* pesduo classes */
.work_div:hover {
  opacity: 0.2;
}
